

body{

    line-height: 1.3;
}

h1
{

    font-size: 30pt;
}

#constitution{

    max-width:800px;
    margin: 0 auto;
}
#result{
    font-size: 15pt;
}

#constitution ol {
    counter-reset: item;
    list-style-type: none;
    padding-left: 0;
}

#constitution ol li:before {
    content: 'Art. ' counter(item, decimal) '';
    counter-increment: item;
    display: block;
    font-weight: bold;
}
#constitution li{

    white-space: pre-line;
    margin-bottom:15px;
}
.columns{
    display: flex;

}
.columns > div{
    margin-left:10px;

}
.canvas-container{
    padding-bottom:10px;
}
canvas{
    border:1px solid #b9bfc9;
}

.btn-group{
    margin-bottom:30px;
}
#neighbours-title{
    font-weight: bold;
}